main {
  position: relative;
  padding-top: 12rem;
}
.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* display: none; */
}

.modal-content {
  background-color: #ab957e;
  color: #fff;
  padding: 20px;
}
