/* common css for all pages */

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

.logo {
  height: 2rem;
  display: block;
}

nav {
  position: fixed;
  background-color: #fff;
}
.navbar {
  background-color: #fff; /* Set background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  z-index: 1000; /* Ensure it stays above other content */
  border-bottom: 1px solid #ddd; /* Add a border to distinguish header */
  height: 7rem;
}

.navbar .logo {
  height: 2rem; /* Logo height */
  width: auto; /* Maintain aspect ratio */
}

.navbar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #333; /* Text color */
  transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #956680; /* Highlight color for active or hovered links */
}

.navbar-toggler {
  border: none; /* Remove button border */
  background-color: transparent; /* Transparent background */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Custom hamburger icon */
}

/* Responsive Design */
@media (max-width: 992px) {
  .navbar {
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .navbar .nav-link {
    padding: 0.5rem 1rem; /* Adjust spacing for mobile view */
    text-align: center;
  }

  .navbar .collapse {
    background-color: #fff; /* Ensure consistent background on collapse */
    padding: 1rem; /* Add padding inside collapsed menu */
  }
}

#footer {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 10px 0;
  height: 7rem;
}
footer {
  padding-top: 1rem;
}

.nav-link {
  color: #dcbdae;
}
.nav-link:visited {
  color: #dcbdae;
}
.nav-pills .nav-link.active {
  background-color: #ab957e;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #ab957e;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: #ab957e;
  color: #fff;
}

.btn-primary {
  background-color: #956680;
  border: none;
}
.btn-primary:hover {
  background-color: #ab957e;
}

.btn-primary:visited {
  background-color: #956680;
}

.card-text {
  height: 3rem;
}

ion-icon {
  color: #ab957e !important;
}
