.main-container {
  display: flex;
}

main {
  background-color: #ebe3e0;
  position: relative;
}

main > .container {
  padding-bottom: 15rem;
}

.main-content {
  height: calc(
    /* 100dvh - 7rem */
  ); /* Subtract the navbar height and footer height from the viewport height */
  overflow-y: auto;
  /* margin-top: 7rem; */
}

.tab-menu {
  width: 20%;
  margin-top: 7rem;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
}
main.content {
  margin-top: 7rem;
  width: 80%;
  height: 100%;
}

.tab-menu .nav-link {
  font-weight: 500;
  color: #333;
  padding: 0.5rem 1rem;
}

.tab-menu .nav-link:hover,
.tab-menu .nav-link.active {
  background-color: #956680;
  color: #fff;
  transition: all 0.3s ease;
  /* border-radius: 0.25rem;  */
}

.carousel-cell {
  width: 100%;
}

.carousel-cell img {
  width: 100%;
  height: auto;
}

.card {
  position: relative;
}
.add-to-cart {
  position: absolute;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  background-color: #fff;
  border: #956680 1px solid;
  color: #956680;
  right: 0.5rem;
  top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
.add-to-cart:hover {
  background-color: #956680;
  color: #fff;
  transition: all 0.3s ease;
}

/* Hide content by default */
.content .hide {
  display: none;
}

/* Show content when active */
.content .show {
  display: block;
}
